body {
    font-family: Cormorant;
}

/* kad otvorimo inspect, h1, nav, li su blok elementi a mi ih sve zelimo in one line. inline block je najflexible*/

h1 {
    display: inline-block;
    font-weight: 300;
    margin: 0 32px 0 0; 
    /* jer by default, h1 ima uvijek header. 32 ocemo da je izmedju Ceramics i ul*/
}

.links {
    display: inline-block;
}

.links li {
    display: inline-block;
}

.links a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0 8px;
}

.navbar {
    margin: 30px
}

.links ul {
    padding:0;
    /* i uls imaju default padding */
}

a.active {
    border-bottom: 1px solid black;
    /* padding-bottom: 3px; */
    /* ovo ćemo umjesto underline jer mozemo da promijenimo tickness padding itd */
}

.card {
    width:49.75%;
    /* 49.75% od cijele stranice */
    display: inline-block;
    /* da bi njihovi naslovi bili izmedju*/
    box-sizing: border-box;
    /*  da bi padding ulazio u definisani width, inace ne bi sve slike stale inline. za to ne mozemo maginu jer je ona van box, ovo se i sa gridom bolje resava*/
    padding: 16px;
}

/* object-fit: cover/ contain/fill/scale-down ...
fill - the images are sized to completely fill their content boxes -default valjda
cover - image is sized to maintain its aspect ratio while filling the element's entire content box. If needed, the image is cropped to fit the box */

.card img {
    width: 100%;
    /* a 100% width of their parent */
    height: 500px;
    object-fit: cover;
}

.card img:hover {
    opacity: 0.9;
}

.card h2 {
    display: inline-block;
    margin: 8px 0 16px 0;
    font-weight: 300;
}

.gallery {
    padding: 16px;
}

.about{
    width: 40%;
    min-width: 600px;
    /* so it stops shrinking at that point */
    margin: 100px 0 100px 200px;
}

.about h3 {
    font-size: 40px;
    font-weight: 300;
}

.contact {
    margin-top: 100px;
}

.contact p {
    margin:0;
    font-size: 20px;
}

/*  da podvucemo samo onu jednu recenicu, dali joj klasu cta */
.cta {
    border-bottom: 1px solid black;
    display: inline-block;
    /* da ne bi border bila velicine cijelog bloka */
    padding-bottom: 8px;
    margin-top: 0;
}


/* RESPONSIVE DESIGN. Shrink it down until it's bad and then change it, and again */

@media only screen and (max-width: 1000px) {
    .card {
        width: 100%;
    }
    .about {
        margin: 100px 0 100px 100px;
    }
}

@media only screen and (max-width: 700px) {
    .card {
        padding: 0;
    }
    .gallery {
        padding: 8px;
    }

    .about {
        margin: 100px auto;
        min-width: 450px;
    }
}
