body {
    padding: 0;
    margin: 0;
    font-size: "Forum", serif;
}
/* body ima padd i marg by default a mi zelimo da coral section bude preko cijele stranice */

.coral-section {
    background-color: #f08e80;
    min-height: 90vh;
    /* at least toliko, ali ako smanjimo screen, bijeli tekst se nece nastavljati na bijelu pozadinu no ce ova pozadina biti veca od screena */
    color: white;
    display: inline-block;
}

/* Flexbox */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 24px 32px;
}

.navbar .links a {
    color: white;
    text-decoration: none;
    margin-right: 16px;
    font-size: 1.2rem;
}

.navbar p {
    font-size: 2rem;
    font-weight: bold;
}

.navbar .contact {
    background-color: white;
    color: #f08e80;
    padding: 16px 24px;
    text-decoration: none;
}

.navbar .contact:hover {
    opacity: 0.8
}


.coral-content {
    padding: 0 15%;
    /* 15% of the coral section width */
}

.tagline {
    color: white;
    font-size: 4rem;
    letter-spacing: 2px;
    padding: 32px 0;
}

.two-column-section {
    font-size: 2rem;
}

.two-column-section > p {
    width: 50%;
    box-sizing: border-box;
    float: left;
    /* bolji nacin je w grid and flex */
    /* direct descendant da bi kasnije paragrafe drugacije stilizovali */
}

.two-column-section .skills {
    width:50%;
    box-sizing: border-box;
    float: left;
    padding: 0;
    list-style: none;
}

.two-column-section .skills li{
    width:50%;
    float: left;
    font-size: 1.25rem;
    margin: 8px 0;
}


.blog-section {
    background-color: white;
    padding: 64px 0;
    display: inline-block;
}

.blog-content {
    padding: 0 15%;
}

.two-column-section .blog-posts {
    width: 50%;
    float: left;
}

.blog-title {
    font-size: 1.5rem;
}

.blog-text {
    font-size: 1rem;
}

.blog-posts .blog-date {
    /* oboje da bismo bili vise specific jer dolje stavismo da je top i bottom margina 8px a odje ocemo da je bottom 32px */
    font-size: 0.9rem;
    color: grey;
    margin-bottom: 32px;
}

.blog-posts p {
    margin: 8px 0;
}

.blog-posts {
    margin-top: 24px;
    /* posto smo mijenjalji default marginu, sad Tech blog i postovi nisu alligned. 
    Tech blog ima default top marginu 32px, pa zato za posts stavimo 24px (24px+8px koju smo podesili=32px)  */
}

.events-section {
    background-color: #fdf0e6;
    padding: 64px 0;
    display: inline-block;
    width: 100%;
}

.events-content {
    padding: 0 15%;
}

.events-cards {
    width: 50%;
    /* 50% of the parent el, events-section */
    float: left;
    margin-top: 24px;
}

.events-cards p {
    margin: 8px 0;
}

.event-title {
    font-size: 1.5rem
}

.event-location {
    font-size: 1rem
}

.events-cards .event-date {
    font-size: 0.9rem;
    color: grey;
    margin-bottom: 32px;
}

footer {
    background-color: black;
    color: white; 
    padding: 60px;
}

.footer-content {
    text-align: center;
}

.footer-content img {
    width: 2rem;
    height: 2rem;
    margin: 0 8px;
    /* space between the images */
}
