h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 6rem;
}
.container {
  border: 4px solid black;
  width: 1300px;
  height: 1000px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* space-between je dobar za navbar */
  /* center, space-around itd */

  flex-wrap: wrap; 
  /* u ovom primjeru doda drugu kolonu */
  align-items: center;
  /* justify-content: center i align-items: center, centrira na obje ose. ima i flex-end start itd */
  align-content: center;
}

.box {
  width: 200px;
  /* height: 300px; */
  font-size: 4rem;
  text-align: center;
}

.special {
  align-self: flex-start;
}

/* FLEX-GROW */
  /* ako imamo dva elementa, prvi sa flex-grow 1, a drugi sa 2, drugi ce da take up twice as much space of the flex container as the 1st one  */
/* when we shrink/expand the screen the screen.... */

  .container2 {
    border: 4px solid black;
    width: 70%;
    height: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sidebar {
    background-color: palevioletred;
    flex-grow: 1;
    /* they respect max and min width */
    max-width: 200px;
    flex-shrink: 10;
  }

  p {
    background-color: darkseagreen;
    margin: 0;
    flex-grow: 1;
    /* the paragraph takes twice as much of the empty space */
  }
  
  /* FLEX-SHRINK */ 
  /* ako imamo dva elementa, prvi sa flex-shrink 1, a drugi sa 2, drugi ce da shrink 2 times faster (on the left)  */
  /* by default je 1 */

  /* FLEX-BASIS */
  /* If it's a row, sets the width, column -sets the height */
  /* it will start at the specified height/width and then shrink or grow depending on values for flex-grow/shrink */

  /* FLEX */
  /* initial je isto sto i flex:0 (za flex-grow) 1 (flex shrink) auto (flex-basis). no growing, zes shrinking */
  /* auto: the item is sized according to its width and height properties, 
  but grows to absorb any extra free space in the flex container and shrinks to its min size to fit the container
  isto sto i flex: 1 1 auto */
  /* none - inflexible */

  /* flex: 1 - takes up whole container */

  /* ORDER - changing order of items, npr order: -1 */



/*  MAKING A NAVBAR WITH FLEXBOX */
/* ocemo da prva tri budu skroz lijevo, ima malo razmaka izmedju njih, a cetvrti skroz desno (in a row) */

body {
  margin:0;
}

.navbar {
  background-color: rgb(28, 54, 46);
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* da svi idu skroz lijevo */
  align-items: center;
}

.navlink {
  font-size: 2rem;
  color: white;
  margin: 0 30px;
  /* prostor izmedju linkova */
}

 .right {
  margin-left: auto; 
  /* ocemo da bude skroz to the right pa postavimo marginu, jer bi align-self alignovao samo po cross axis sto je u ovom slucaju vertikalna */
  /* common pattern */
  margin-right: 100px;
  /* malo prostora */
}

/* NESTING FLEX CONTAINERS */
/* da je bilo vise linkovakoje zelimo on the right, onda cemo napraviti dva containera i nest them */

.navbar2 {
  background-color: rgb(28, 54, 46);
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  background-color: brown;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.navbar-right {
  background-color: blueviolet;
  display: flex;
  justify-content: flex-end;
  /* width: 500px; */
  /* srediti još */
}

.navlink2 {
  font-size: 2rem;
  color: white;
  /* margin: 0 30px; */
}
