/* so the cards are in a row */
.container {
    display: flex;
    justify-content: center;
}


/* we also want to make each card flex, so the text inside is in flex columns, 
so the footer on all cards could be at the same place and we could center text easily */
.card {
    background-color: violet;
    border-radius: 5px;
    width: 400px;
    margin: 0 30px;

    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.card footer {
    background-color: slateblue;
    color: white;
    padding: 20px;
    text-align: center;
    /* we just want to push only the footer down */
    margin-top: auto;
    /* in a column flex container, this pushes the footer down (if it were a row, it would push it tobthe right)*/
    /* MARGIN AUTO helps us push one element somewhere */
}