h1 {
    font-size: 5rem;
    text-align:center;
  }
  .container  {
    background-color: #283593;
    margin: 0 auto;
    width: 1000px;
    height: 800px;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse */
    /* flex-wrap: wrap; */
    justify-content: right;
    align-items: flex-end;
    align-content:center;

  }
  
  span {
    color: white;
    background-color: #26C6DA;
    font-size: 3rem;
    width: 200px;
    border: 1px solid black;
    text-align:center;
    border-radius: 20px;
  }

  .special {
    align-self: flex-start;
    order: -1 
    /* da bude prvi */
  }

  