/* BORDERS */

h1 {
    /* border-width: 2px;
    /* border-color: purple; */
    /* border-top-color: red;
    border-bottom-color: green;
    border-style: solid;

    /* border style je obavezan ako oćemo border, moze biti groove,... */ 

/* možemo i odjednom sve da postavimo */
    border: 2px solid green;

/* ili ako ocemo npr samo donju border */

    /* border-bottom: 3px dashed magenta; */

}

/* WIDTH, HEIGHT AND PERCENTAGES OF THE INNER CONTENT BOX */

h2 {
    border: 2px solid red;
    width: 500px;
    height: 60px;
}

#container {
    border: 1px solid black;
    width: 600px;
    height: 400px;
}

.box {
    border: 1px solid orange;
    height: 200px;
    width: 50%;
}

/* by default, block elements like the div with the class box will strech out all the way inside the parent div with the id container 
if we set the width: 50%, the width of that element should be 50% of the containing element
i height i width mogu biti u procentima*/

/* PADDING - the space that could be added between the edge of the inner content box and the border of the element*/

#link {
    border: 1px solid red;
    font-size: 30px;
    /* padding-right: 30px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 5px; */
    padding: 10px; 
    /*  or in the order top right bottom left, padding: 5px 30px 10px 40px, or other sintaxes*/
}

/* MARGIN - space between two elements or element and the edge of the page or whatever */


p {
    border: 1px solid violet;
    margin: 0;
    margin-bottom: 89px
}
/* svudje margina 0 sem on the bottom */

a {
    border: 1px solid violet;
    margin: 10px 20px ;
    display:block;

}

/* odjednom sve margine ili samo dvije vrijednosti: top and bottom */

/* ALTERNATE BOX MODEL */

div {
    background-color: purple;
    margin: 30px;
    height: 200px;
    width: 200px;
    border: 5px solid cyan;
    padding: 10px;
}

/* dvije iste boxes al za jednu zelimo da je alternate box model */

#alternate {
    box-sizing: border-box;
}

#word {
    margin: 30px;
    height: 50px;
    width: 100px;
    border: 5px solid cyan;
    padding: 20px;
    display: inline-block;
}


.inlineblock {
    height: 200px;
    width: 200px;
    border: 5px solid cyan;
    display: inline-block;
}
/* we want to boxes that are next to each other, in one line, these boxes can be images */

#none {
    display:none;
}

#auto {
    height: 400px;
    width: 1000px;
    border: 1px solid purple;
    background-color: lavenderblush;
}

#auto h3 {
    text-align: center;
    border: 1px solid purple;
    width: 150px;
    margin: 20px auto;
}

/* MIN MAX WIDTH
BORDER RADIUS 
BOX SHADOWS */
/* try to be 80% as long as 300px<80%<500px, and rounding the box with border-radius*/
.minmax {
    height: 400px;
    width: 80%;
    min-width: 400px;
    max-width: 800px;
    border: 1px solid grey;
    background-color: mediumvioletred;
    margin: 0 auto;
    border-radius:30%;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2) ;
    /* percentage of b radius is relative to the width and heigth, mozemo i samo neke corners da round up */
}
/*  10px u box-shadow je blur radius, naci na net neke fine box shadows, or use generator apps*/

/* OVERFLOW */
/* the default behavior je da tekst izadje iz box jer je premala za njega*/
/* overflow: hidden - jedna opcija da se sav tekst koji izlazi iz box okine tu */
/* overflow: scroll - da možemo da scrollujemo inside the box da vidimo ostatak teksta 
može i overflow-y: hidden samo u y smjeru, a overflow-x:scroll*/
/* overflow: auto  */

.overflow_div {
    border: 1px solid grey;
    height: 300px;
    width: 300px;
    font-size: 40px;
    margin: 0 auto;
    overflow: scroll;
}

/* ima upotrebu kod nekih animacija, npr when you hover over a button*/