body {
    background-color: #463d36;
    color: #463d36;
    font-family: sans-serif;
}

.container {
    background-color: white;
    width: 600px;
    padding: 40px;
    border-radius: 10%;
    margin:100px auto;
}

.container h2 {
    color: #a6192e;
    font-size: 28px;
    margin-bottom: 0;
}

.container h1 {
    font-size: 40px;
    padding-bottom: 28px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 100;
}

.container p {
    font-size: 28px;
}

.container button {
    font-size: 24px;
    text-align: center;
    padding: 30px 40px;
    margin-bottom: 40px;
    background-color: #463d36;
    font-weight: bold;
}