/* Make all li elements purple */


/* Make all h1s and h2s blue (with one rule) */


/* Give the element with the id of 'submit' a green background color */


/* Make the spans inside the element with the id of 'flavors' red*/


/* Give the elements with the class 'size' a text color of magenta*/


/*  Select the email input (and ONLY the email input) and give it an orange background color*/


/* Select all links that have an href ending in '.org' and make them magenta*/


/* Select the h2 with the class of 'bright' (be careful, other elements have the same class!) and give it a color of cyan */

li {
    color: purple;
}

h1, h2 {
    color: blue;
}

#submit {
    background-color: green;
}

#flavor span {
    color: red;
}

.size {
    color: magenta;
}

input[type="email"]{
    background-color: orange;
}

a[href$=".org"]{
    color: magenta;
}

/* bitno da nije h2. bright jer je to druga stvar */
h2.bright {
    color: cyan;
}

