/* Universal selector * */

/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Attribute selectors */

input[type="number"]{
    color: gold;
}

/* styling external and internal links */

/* selecting all links that have wiki anywhere in them */

a[href*="wiki"]{
    color: rgb(212, 0, 255);
}

/* links that start wiith # */

a[href^="#"]{
    color: green;
}

/* links that end with .org */

a[href$=".org"]{
    color: red;
}


/* group selectors */
h1, h2, h3 {
    font-family: "Work Sans";
}

.score, .tag, #featured {
    background-color: rgb(190, 213, 233);
}

/* Descendant Combinator */

/* ocemo sve spans koji su nested inside of an element that has the id "cast" */

#cast span {
    color: grey; 
}

/* ocemo direktnu djecu, liste koje su direktna djeca od ol */

ol > li {
    border: 1px solid red; 
}

/* Compound selector */

/* select all h2 elements that have a class "score" (so not all elements of that class) */

h2.score {
    color:blueviolet;
}

/* npr kad bi neki elementi imali vise klasa npr class="big score", to su dvije klase, mozemo selectovati
obje .big.score ili samo jednu */