/* moze i odje link za fontove */
   
   p {
      color: magenta;
    }

    /* p je element selector, selectuje sbve paragrafe*/

    a {
        color: cyan;
        background-color: blueviolet;
        font-style: italic;
        text-decoration: none;
        /* da maknemo underline kod linkova */
    }
    
    /*  mijenjamo boje/stavljamo underline visited linka i linka preko koga hover */
    a:visited {
        color: orangered;
    }

 /* mozemo i cursor miša da promijenimo to tell a user what behavior to anticipate, npr krug umjesto obicnog misa */
    a:hover {
        text-decoration: underline;
    }

    /* bira sve ancors */

    h3 {
        color: orange;
    }

    h1 {
        color: teal;
        background-color: rgb(80, 4, 48);
        opacity: 0.5;
        font-family: "Segoe UI", Futura, sans-serif;
        font-size: 60px;
        font-weight: 100;
        /* font-style: italic; */
        text-align: center;
        letter-spacing: 20px;
        word-spacing: 10px;
        line-height: 2;
        text-shadow: 2px 2px 2px magenta, -4px 4px cyan;
        /* moze imati vise text shadows, druga se više odaljuje */
        text-transform: uppercase;
        text-decoration: #22001d line-through wavy 5px;
    } 
    /* probamo vise fontova jer mozda nema prve ili druge font family na komp. font je inherited pa ga mozemo staviti u body*/
/* text align: center ne centrira na sredinu stranice nego na sredinu elementa */


    h2 {
        color: #003a35;
    }

    body {
        background-color: rgba(193, 131, 235, 0.384);
        font-family: Montserrat;
    }

/* da ne bi neki elementi unutar paragrafa ili cega god inherit boju:*/

ul {
    color: green;
}

span {
    color: blue;
}

div {
    color: brown;
    border: 1px solid blue;
}

/* ako zelimo da turn on inheritance, border: inherit */

/* ID SELECTOR */

#featured {
    background-color: gold;
    font-size: 20px;
}

.tag {
    background-color: black;
    color: white;
}

#cast {
    list-style-type: circle;
    list-style-position: inside;

}

/* list style moze biti none, da bude unordered, moze bilo koji znak biti npr "-", disc, circle ...*/