/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin: 0;
  }
  
  a {
    /* color: #cc1616; */
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  
  a:hover {
    /* color: #e82d2d; */
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }

  /* ALIGNIN ITEMS, DISPLAYS.. */

.align-items-center {
    align-items: center;
}


/* .d-flex {
    display: flex;
}
   */


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
/* lijevi div: contact.info (email i tel), desni div: social-links */

#topbar {
    background: #191919;
    font-size: 15px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.6);
    /* align-items: center; */
    padding-left: 106px;
    padding-right: 106px;
  }
  
  #topbar .contact-info a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
  }
  
  #topbar .contact-info a:hover {
    color: #fff;
  }
  
  #topbar .contact-info span {
    padding-left: 24px;
  }

  #topbar .social-links a {
    color: rgba(255, 255, 255, 0.6);
    padding: 0px 12px;
    display: inline-block;
    transition: 0.3s;
  }
  
  #topbar .social-links a:hover {
    color: #fff;
  }


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: rgba(25, 25, 25, 0.95);
    transition: all 0.5s;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 106px;
    padding-right: 91px;
  }

  #header .logo {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  #header .logo a {
    color: #fff;
  }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar a {
    padding: 25px 15px 24px 15px;
    /* top right bottom left */
    color: #fff;
}

.navbar a:hover {
    background-color: #e82d2d;
    color: #191919; 
}

/* .navbar a:active  {
    background-color:  #e82d2d;
    color: #191919; 
} */

/* kako da ostane crvene boje kad je na home page, js? */



  /*--------------------------------------------------------------
  # Hero (Home) Section
  --------------------------------------------------------------*/

  #hero {
    width: 100%;
    height: calc(100vh - 110px);
    /*  The calc() function performs a calculation, subtracting 110 pixels from the viewport height. 
    common technique used to create hero sections that occupy the full viewport height minus a certain amount of pixels 
    for things like fixed navigation bars or headers. #topbar i #header imaju height zajedno 110px*/
    background: url("img/hero-bg.jpg") top center;
    background-size: cover;
    /* position: relative; */
    /* This means that if you use properties like top, right, bottom, or left, it will be positioned relative to where it would have been otherwise.
    This property is often used in combination with absolute positioning for child elements that need to be positioned relative to the parent element.
    In this case, it might be used for positioning other elements inside the hero section. */

    display: flex;  
    flex-direction: column;
    align-items: start; 
    box-sizing: border-box; 
    justify-content: center;
/* 
    opacity: 0.8; */
  }


  /* #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  } */
  /* da je tamnija slika, ako znam, onda je sve tamno */

#hero .container {
    /* padding-right: 106px; */
    margin-left: 106px;
    transition: 0.5s;
  }

  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
  }
  
  #hero #get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 28px;
    /* transition: 0.5s; */
    border: 2px solid #fff;
    color: #fff;
  }
  
  #hero #get-started:hover {
    background: #cc1616;
    border-color: #cc1616;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero {
      text-align: center;
    }
  
  
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }


  /*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/

  /* Portfolio - ova sekcija bi trebala da vuče neke dodate postove iz baze i prikazuje ih u ovoj sekciji. 
  Svaki post ima url slike, naslov, tekst i kategoriju. U ovoj sekciji postoji i prikaz filtriranih postova po sekcijama. */


.portfolio {
  width: 100vw;
  max-height: 1500vh;
  /* display: flex;  
  flex-direction: column;
  align-items: center; 
  box-sizing: border-box; 
  justify-content: center; */
  /* text-align: center; */
}


/* PORTFOLIO SLIKE */

#posts-container {
  max-height: 1116px;
  max-width: 1304px; 
  margin: 60px auto; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.post {
  text-align: center;
  padding: 0 12px;
  max-height: 100%; 

}

.post img {
  max-width: 100%; 
  /* width: 400px; */
  height: auto; /* Ensure image aspect ratio is maintained */
}

.categories {
  text-align: center;
}

.category-btn {
    background: none;
    border: none;
    cursor: pointer; 
    font-size: 17px;
    font-weight: 500;
}

.category-btn:hover {
  color: #e82d2d;
}


/* srediti */


/* SECTIONS titles*/

.section-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
  margin-top: 80px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #191919;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 50px;
  color: #f4f4f4;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}


  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
.contact-section {
  padding-top: 450px;
  height: 100vh;
}

/* @media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
} */

.contact-container {
  display: flex;
  flex-direction: column;
  margin:auto auto;
}


.contact-cards {
  display: flex;
  justify-content: center;
}

.card {
  color: #444444ce;
  box-shadow: 3px 5px rgba(90, 90, 90, 0.164);

  width: 400px;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  text-align: center;
  
}

.card i {
  font-size: 50px;
  color: #e82d2d;
}

.map-message-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 30px; 
}

.message-container button {
  background: #cc1616;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.message-container button:hover {
  background: #e82d2d;
}

.message-btn {
  text-align: center;
}


/* mapa i prva kartica jedna kolona, druge dvije kartice i submit message druga */

.name-email {
  padding: 12px 15px;
}

#email {
  width:45%
}

#name {
  width:45%;
  padding-right: 20px;
}

.subject {
  padding: 12px 15px;
}

#subject {
  width: 100%;
}

.message {
  padding: 12px 15px;
}

#message {
  width:100%;
}

.msg {
  color: #cc1616;
}