.container {
  height: 700px;
  width: 700px;
  margin: 200px auto;
  background-color: black;
  box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* we can define how many rows and columns we want, using grid-template-columns and grid-template-rows */
  /* fr je fraction - some proportion of the grid, when we dont want to calc % widths */
  /* 1fr 1fr 1fr su tri equally sized columns kolone ili 100%/3 */
  /* 1fr 2fr 1fr , druga kolona je 2 puta veca od druge dvije*/
  /* umjesto fr mogu i px i % */
  /* mogu rows i kolone zajedno da se koriste da su neki rows veci neki manji */
  grid-template-rows: 1fr 2fr 1fr 2fr;
}

/* display: inline grid turns on grid but the container will behave like an inline lement. samo grid je block*/

.box {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
