body {
    font-family: "Space Mono";
    background: #fdf9fdb6;
}

h1 {
    font-size: 75px;
    line-height: 1;
    font-weight: 400;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

div {
    width: 58%;
    margin-left: 100px;
    margin-top: 200px;
    
}

span {
    text-shadow: 0 -6.25px #0c2ffb,
                 0 -12.5px #2cfcfd, 
                 0 6.25px #fb203b,
                0 -12.5px #fefc4b ;
}

