.box {
    border: 20px dashed black;
    height: 600px;
    width: 800px;
    background-image: url("https://i.postimg.cc/Jh60BT85/Screen-Shot-2023-01-30-at-10-08-54-AM.png");
    /* ako je image transparent mozemo dodati i background color */

    background-repeat: no-repeat;

    background-size: cover;

    background-position: bottom left;
    /* top left, bottom right itd, percentage, ... */

    background-clip: border-box;
}


.container2 {
    margin-top: 50px;
    width: 300px;
    height: 500px;
    border: 2px solid red;
    background-image: url("https://images.unsplash.com/photo-1674905682134-496ca5a4862b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1376&q=80");
    background-size: cover;

    /* background-position: bottom left; */
  }
  