/* CSS UNITS */

/*  REM */

h1 {
    font-size: 6rem;
}
/* 6 puta root font-size (6*16px vj) */

h2 {
    font-size: 4rem;
}

/* PX and EM */

.container {
    font-size: 20px;
}

.container h1 {
    font-size: 4em;
    /* for font-size property, relative to the parent's font size, 4*20px */
    /* for other properties, relative to the element's font-size npr*/
    margin: 2em;
    /* margina je velicine 2 puta font-size od h1, znaci 2*(4*20px)*/

}

/* VH and VW */

.container2 {
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
}

/* USE */
/*  px - avoid for font-size, better for smaller details, borders, shadows*/
/* rem/em - font-sizes, padding, margins */
/* % - layouts, width */
/* vh/vw - larger layouts */

/* FLOAT */

.imagecontainer {
    float: none
}