body {
  background-color: red;
}
/* uvijek je red sem: */

@media (min-width: 800px) {
  body {
    background-color: orange;
  }
  /* znaci orange je applied na viewport od min 800px */
  /* bitan je order kod media queries, ovaj 800px sto je manji od 1200px mora bit prvi */
}

@media (min-width: 1200px) {
  body {
    background-color: yellow;
  }
}

/* only screen: helps us write styles for diff device sizes. it means only apply these styles on screens, it stops older browsers to use only that style cause they dont know media*/
/* only print: only when you print sth, for ex u dont print ads */

/* umjesto min-width moze i height ili orientation: portrait/ landscape to je bitno za telefone vs kompjutere 
ima jos media features...*/

/* LOGICAL OPERATORS: AND,OR, NOT */
/* @media (max-width: 600px) or (min-width: 1200px)*/
/* @media only screen and (max-width: 600px))*/


/* 
Give the h1 the following font sizes:
- for screen sizes below 800 pixels: 3rem
- for screen sizes between 800 and 1000 pixels: 5rem
- for screen sizes above 1000 pixels: 7rem
*/
h2 {
  font-size: 5rem;
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1000px) {
  h2 {
    font-size: 7rem;
  }
}

/* new syntax: nije svudje supported width <= itd */

/* COMMON RESPONSIVE BREAKPOINTS */
/* Mobile size: 0 - 480px*/
/* Tablet size 481px-768px */
/*  Small Desktops 769 - 1024 px*/
/*  bigger Desktops 1025 -up px*/

/* CReating a more responsive navbar */

.navbar {
  display: flex;
  background-color: blueviolet;
  color: white;
  justify-content: space-between;
  align-items:center;
  padding: 0 40px; 
  /* da se odvoje od ivica */
}

.navbar a {
  color: white;
  font-size: 1.5rem;
  margin: 0 20px;
}

/* .navbar h1 {
  margin-left: 40px;
}
.navbar .links {
  margin-right: 40px;
} */
/*  to dvoje je isto sto i ovaj padding u .navbar */

/* Za media queries breakpoints. Udji u inspect i shrinkuj page da vidis at what point vise ne valja, tu ce pisat width u pikselima */

/* do 769px ocemo da je manja margina */

@media only screen and (max-width: 769px) {
  .navbar a {
    margin: 0 5px;
  }
}

/* ispod 480px  navbar neka bude kolona jer onda vise staje*/

@media only screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }
}

/* FLEXBOX AND MEDIA QUERIES: mijenjamo flex */